@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}



.brand img{
    width: 45px;
}

nav{
    font-family: 'Varela Round', sans-serif;
}
nav ul li{
    padding: 0px 11px;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 55px;
    color: white;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}


.container{
    min-height: 63vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 13px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#myProgressBar{
    width: 75vw;
}


.icons{
    margin-top: 11px;
}

.icons i{
    cursor: pointer;
}

.songItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 75%;
    border-radius: 35px;
    margin: 13px ;
}


.songItemContainer{
    margin-top: 35px;
}

.songItem img{
    width: 35px;
    margin: 0px 15px;
    border-radius: 15px;
}




.songInfo{
    position: absolute;
    left: 15vw;
    margin-top: 15px;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    width: 45px;
    opacity: 0;
    transition: opacity 1s ease-in;
    
    
}

.timestamp{
    margin: 0 15px;
}


.timestamp i{
    cursor: pointer;
}